@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap");

body {
  background-color: #efefef;
  font-family: "Noto Sans KR", sans-serif;
  color: #222;
}
input,
button {
  outline: none;
}
